*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: ;
}

div #main-content .container{
    padding-left: -15px;
    padding-right: -15px;
    margin: 0px -74px;
}

header{
    margin: 10px;
}


.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
    
}

.cart-icon #item-count {
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    bottom: 7px;
    right: 19px;
}

section{
    margin: 20px;
}

.hats > div, section div{
    display: inline-block;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

