*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    
}

body{
    font-size: 16px;
    color: #FFF;
    
    
}


.card{
    width: 120px ;
    height:auto;
/*    margin: 1px;*/
    border: 1px solid black;
    
}

#hats, #jackets, #sneakers{
    margin-bottom: 10px;
}

#hats{
/*    margin-right: 0.5px;*/
}